<!DOCTYPE html>
<html>
<head>
<title>DevOps CI/CD Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>🚀 DevOps CI/CD Pipeline Dashboard</h1>

<div class="card">
<h2>Project Information</h2>
<p><b>Project:</b> Automated CI/CD Pipeline</p>
<p><b>Technologies:</b> GitHub • Jenkins • Docker • Kubernetes</p>
<p><b>Status:</b> <span class="status">Running</span></p>
<p><b>Server Time:</b> {{time}}</p>
</div>

<div class="card">
<h2>Pipeline Workflow</h2>

<div class="pipeline">
<div class="step">Developer</div>
<div class="step">GitHub</div>
<div class="step">Jenkins</div>
<div class="step">Docker</div>
<div class="step">Docker Hub</div>
<div class="step">Kubernetes</div>
</div>

</div>

<div class="card">
<h2>Team Members 500120565</h2>
<p>Pratik Agrawal 500123601</p>
<p>Aryan</p>
</div>

</div>

</body>
</html>